:root {
  --blue: #1a91f0;
  --blue-text: #1a91f0;
  --blue-back: #f4faff;
  --red-delete: rgba(252, 0, 5, 255);
  --green-edit: #28a745;
  --blue-1: #c6e7ff;
  --blue-2: #bfecff;
}

.remove-icon {
  height: 24px;
  width: 24px;
}

.hidden {
  visibility: hidden;
}

.showed {
  visibility: visible;
}

.canvas-container {
  display: flex;
  width: 100%;
  background-color: var(--blue-1);
  justify-content: center;
}

.canvas {
  /* display: flex; */
  /* display: none; */
  /* justify-content: start; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* width: 100%; */
  /* flex-grow: 1; */
  /* overflow-x: auto; */
  /* background-color: black; */
  /* -ms-overflow-style: none; */
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
  /* background-color: black; */
}

.paper {
  /* display: none; */
  /* align-items: center; */
  /* margin-top: 24px; */
  display: flex;
  flex-direction: column;
  width: 22cm;
  height: 29.7cm;
  margin-bottom: 24px;
  padding-bottom: 1200px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a {
  color: black;
  padding: 0px;
}

.h1-name {
  text-align: center;
  padding-top: 32px;
}

.name-and-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 100%;
  padding-bottom: 24px;
}

.profile-link-list-style {
  list-style: none;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.profile-li {
  font-size: 14.666px;
  text-decoration: none;
}

/* Education */
.skill-container,
.projects-container,
.experience-container,
.education-container {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
}

.skill-head,
.project-head,
.experience-head,
.education-head {
  font-size: large;
}
.skill-content,
.proj-content,
.exp-content,
.edu-content {
  padding-left: 18px;
  padding-right: 6px;
  padding-bottom: 3px;
  padding-top: 3px;
  display: flex;
}

.skill-content {
  flex-direction: column;
}

.skill-info,
.exp-info,
.edu-info {
  flex-grow: 1;
}

.proj-date > p,
.exp-date > p,
.edu-date > p {
  text-align: end;
}

.skill-point,
.proj-point,
.exp-point {
  padding-left: calc(32px + 18px);
  padding-right: 32px;
  padding-bottom: 6px;
  width: 100%;
}

.proj-desc,
.exp-desc {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 14.666px;
}

/* Projects */
.vertical-line-break {
  margin-left: 4px;
  margin-right: 3px;
}

.proj-info {
  display: flex;
  flex-grow: 1;
}

/* Skills */
.skill-info {
  display: flex;
}
.skills {
  width: 80%;
}

/* Media */

@media (max-width: 1500px) {
  .sidebar {
    border-bottom: 2px solid var(--blue-1);
  }
  .canvas {
    height: fit-content;
  }
  .paper {
    width: 100vw;
    max-width: 22cm;
    min-height: 29.7cm;
    height: fit-content;
    padding-bottom: 24px;
    margin-bottom: 0px;
  }

  .name-and-link-container {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 24px;
  }

  .skill-container,
  .projects-container,
  .experience-container,
  .education-container {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
  }
  .profile-link-list-style {
    flex-wrap: wrap;
  }
}
