:root {
  --blue: #1a91f0;
  --blue-text: #1a91f0;
  --blue-back: #f4faff;
  --red-delete: rgba(252, 0, 5, 255);
  --green-edit: #28a745;
}

.sidebar-container {
  height: 100vh;
  overflow-y: auto;
}

.sidebar {
  background-color: #ffffff;
  flex-grow: 4;
  height: fit-content;
  overflow-y: auto;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

/* Profile Form */
.sidebar-head,
.skill-details-container,
.project-details-container,
.experience-details-container,
.education-details-container,
.personal-details-container {
  background-color: white;
  margin: 12px 24px;
  padding: 32px;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

.hide-personal-details {
  width: 50px;
  height: fit-content;
  padding: 2px 12px;
  border-radius: 6px;
  border: none;
  background-color: aqua;
  cursor: pointer;
}

.skill-head,
.project-head,
.experience-head,
.education-head,
.profile-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 8px;
}
.skill-detail-h1,
.project-detail-h1,
.experience-detail-h1,
.education-detail-h1,
.personal-detail-h1 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 10px;
}
.skill-form,
.project-form,
.experience-form,
.education-form,
.profile-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.top-field {
  display: flex;
  gap: 12px;
  height: fit-content;
}
.right-field,
.left-field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 18px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.skill-input,
.project-input,
.experience-input,
.education-input,
.personal-input {
  cursor: text;
  padding: 16px;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: #eff2f9;
  transition: border-bottom-color 0.3s ease, box-shadow 0.3s ease;
}

.skill-input:focus,
.project-input:focus,
.experience-input:focus,
.education-input:focus,
.personal-input:focus {
  border-bottom-color: var(--blue);
  box-shadow: 0 2px 5px rgba(76, 201, 254, 0.3);
  outline: none;
}

label {
  padding-bottom: 8px;
}
.skill-form > input,
.project-form > input,
.experience-form > input,
.education-form > input,
.profile-form > input {
  padding-top: 12px;
}

.skill-form > label,
.project-form > label,
.experience-form > label,
.education-form > label,
.profile-form > label {
  display: flex;
  flex-direction: column;
}

.form-group > label > strong {
  font-size: 0.8rem;
  font-weight: normal;
  color: #828ba2;
}

.form-group > label {
  cursor: pointer;
}

/* Experience */
.exp-li {
  margin-left: 24px;
}

.project-details-list,
.experience-details-list {
  padding-top: 18px;
  padding-bottom: 12px;
}
.add-btn-list {
  display: block;
  width: 100%;
  text-align: start;
  background-color: white;
  border: 0px;
  margin-top: 24px;
  /* margin-bottom: 24px; */
  color: var(--blue-text);
  font-size: 1rem;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  transition: background-color 0.2s ease;
}
.add-btn-list:hover {
  cursor: pointer;
  background-color: var(--blue-back);
}
.block-title {
  display: block;
}
.e-d-remove-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s ease;
}

.e-d-remove-btn:hover {
  animation: bell-swing 0.7s ease 1;
}

@keyframes bell-swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.project-detail-item,
.experience-detail-item {
  display: flex;
  gap: 12px;
  align-items: center;
}
.e-d-input {
  width: 100%;
  min-height: fit-content;
  height: auto;
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #eff2f9;
  border: none;
  outline: none;
  resize: vertical;
  overflow: hidden;
  box-sizing: border-box;
  white-space: normal;
}

/* Sidebar Head */
.sidebar-head {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.s-h-btn {
  color: black;
  font-size: 0.9rem;
  width: 8rem;
  padding: 12px;
  outline: none;
  border: 0px;
  border-radius: 6px;
  cursor: pointer;
}

.clear-all {
  background-color: #f95454;
}

.download {
  background-color: #c6e7ff;
}

.load-template {
  background-color: #00ff9c;
}

/* Skill */
.s-input {
  width: 100%;
  min-height: fit-content;
  height: auto;
  padding: 16px;
  background-color: #eff2f9;
  border: none;
  outline: none;
  resize: vertical;
  overflow: hidden;
  box-sizing: border-box;
  white-space: normal;
}

.b-t-skill {
  margin-bottom: 8px;
}

/* General */
.form-cancel-btn,
.form-add-btn {
  display: block;
  width: 90px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1rem;
  border-radius: 6px;
  margin-top: 24px;
  cursor: pointer;
}

.form-cancel-btn {
  background-color: var(--red-delete);
  color: white;
  border: solid 2px var(--red-delete);
}
.form-add-btn {
  background-color: var(--blue-text);
  color: white;
  border: solid 2px var(--blue-text);
}

.form-cancel-btn:hover {
  background-color: white;
  border: solid var(--red-delete) 2px;
  color: var(--red-delete);
}
.form-add-btn:hover {
  background-color: white;
  border: solid var(--blue-text) 2px;
  color: var(--blue-text);
}

/* Submission Display */
/* Education */
.submission-container {
  display: flex;
  justify-content: space-between;
  border: solid rgba(0, 0, 0, 0.1) 1px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 18px;
  align-items: center;
}

.submission-container:hover {
  cursor: pointer;
}

.submission-container:hover .sub-btn {
  opacity: 100%;
}
.submission-container:hover .submission-text-content {
  color: var(--blue-text);
}

.submission-text-content {
  font-size: 0.8rem;
  font-weight: 600;
}

.submission-sub-text-content {
  font-size: 0.8rem;
  color: gray;
  padding-top: 5px;
}

.submission-btn {
  display: flex;
  gap: 8px;
}

.svg-icon {
  background-color: white;
  border: 0px;
  cursor: pointer;
  /* padding: 12px; */
  stroke: rgba(0, 0, 0, 0.5);
}

.sub-btn {
  background-color: white;
  border: 0px;
  opacity: 0%;
  transition: opacity 0.3s ease;
}

.edit-btn:hover {
  stroke: var(--green-edit);
}
.del-btn:hover {
  stroke: var(--red-delete);
}

.s-e-c-container {
  display: flex;
  gap: 12px;
}
