.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

@media print {
  .canvas {
    height: auto; /* Allow the content to adjust to A4 page size */
    width: auto;
  }
  .paper {
    width: 100%; /* Ensure the PDF matches the width of A4 */
    height: auto;
  }
}
