.container {
  overflow-x: hidden;
  display: flex;
}

@media print {
  .sidebar {
    display: none;
  }

  .canvas {
    height: auto;
    width: auto;
  }
  .paper {
    width: 100%;
    height: auto;
  }
}
