.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.sidebar {
  background-color: blue;
  width: 40rem;
}

@media print {
  .sidebar {
    display: none;
  }
  .paper {
    width: 21cm;
    height: 29.7cm;
  }
}
